.special__title {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.special__description {
  font-size: 15px;
  line-height: 24px;
}

.special__table {
  line-height: 20px;
}

.special__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.special__title-wrapper {
  @include mobile-wrapper;
}

.special__content-wrapper {
  @include mobile-wrapper;
}

@media (min-width: $tablet-width) {
  .special__title-wrapper {
    @include tablet-wrapper;
    display: flex;
  }

  .special__description {
    width: 300px; // Временно для задания
  }

  .special__content-wrapper {
    @include tablet-wrapper;
  }

  .special__product-title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .special__title-wrapper {
    @include desktop-wrapper;
  }

  .special__title {
    order: -10;
  }

  .special__product-title {
    font-size: 53px;
    line-height: 57px;
  }
}
