.title {
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  @include indent-reset;
}

.title--l {
  font-size: 27px;
}

.title--m {
  font-size: 25px;
}

@media (min-width: $tablet-width) {
  .title--l {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .title--l {
    font-size: 53px;
    line-height: 57px;
  }
}
