.header {
  overflow: hidden;
}

.header__wrapper {
  @include bp($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

.header__link {
  @include link-state($link-colors);

  text-decoration: none;
  width: 100%;
  padding-top: 27px;
  padding-left: 45px;
  font-weight: 700;
  line-height: 24px;

  &--cart {
    @include bp($tablet-width) {
      padding-top: 32px;
      padding-left: 83px;
    }
  }

  &--catalog,
  &--knitting {
    @include bp($tablet-width) {
      padding: 0;
    }

    @include bp($desktop-width) {
      padding-top: 31px;
      padding-left: 35px;
    }
  }

  &--catalog {
    @include bp($desktop-width) {
      padding-left: 0;
    }
  }
}

.header__item {
  position: relative;
  min-height: 79px;
  width: 260px;
  display: flex;

  @include pseudo("after") {
    right: -50vw;
    left: -50vw;
    bottom: 0;
    height: 1px;
    background-color: rgba(236, 236, 236, 1);
    z-index: 100;

    @include bp($tablet-width) {
      height: 0;
    }
  }

  @include bp($tablet-width) {
    min-height: 88px;
  }

  &--logo {
    order: -10;

    @include bp($tablet-width) {
      flex-basis: 150px;

      &::after {
        height: 1px;
        right: -100vw;
        left: -100vw;

        @include bp($desktop-width) {
          height: 0;
        }
      }
    }
  }

  &--cart {
    @include bp($tablet-width) {
      width: 265px;
    }
  }

  &--form {
    @include bp($tablet-width) {
      width: 83px;
      box-shadow: 1px 0 0 rgba(236, 236, 236, 1), inset 1px 0 0 rgb(236, 236, 236);
    }
  }

  &--catalog,
  &--knitting {
    @include bp($tablet-width) {
      padding: 18px 0 0 0;
      width: 166px;
      min-height: auto;
    }

    @include bp($desktop-width) {
      min-height: 88px;
      width: 184px;
      padding: 0;
    }
  }

  &--catalog {
    @include bp($desktop-width) {
      box-shadow: 1px 0 0 #ececec;
    }
  }

  &--knitting {
    @include bp($desktop-width) {
      width: 200px;
    }
  }
}

.header__logo {
  margin: 22px auto auto auto;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include bp($tablet-width) {
    margin-left: 0;
  }

  @include bp($desktop-width) {
    margin: auto;
    margin-top: 8px;
  }
}

.header__logo-image {
  width: 85.589px;
  height: 35.034px;

  @include bp($tablet-width) {
    width: 112.389px;
    height: 46.087px;
  }

  @include bp($desktop-width) {
    width: 148.051px;
    height: 72.707px;
  }
}

.header__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 17px;

  @include bp($tablet-width) {
    flex-basis: 330px;
    flex-grow: 1;
  }

  &--site {
    @include bp($tablet-width) {
      font-size: 15px;
    }

    @include bp($desktop-width) {
      order: -20;
      font-size: 17px;
      width: 370px;
      position: relative;

      @include pseudo("before") {
        height: 1px;
        right: -100vw;
        left: -100vw;
        bottom: -1px;
        background-color: rgba(236, 236, 236, 1);
        z-index: 100;
      }
    }
  }

  &--user {
    order: -9;

    @include bp($tablet-width) {
      justify-content: flex-end;
    }

    @include bp($desktop-width) {
      width: 370px;
    }
  }
}

.header__menu-button {
  width: 22px;
  height: 22px;

  @include y-center;
  right: 0;
}

.header__search {
  position: relative;
  padding-left: 44px;
  padding-top: 28px;

  @include bp($tablet-width) {
    position: static;
  }
}

.header__promo {
  display: none;

  @include list-reset;

  @include bp($tablet-width) {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 330px;
    justify-content: flex-end;

    @include pseudo("after") {
      top: 0;
      right: -100vw;
      left: -100vw;
      height: 100%;
      background-color: rgba(249, 249, 249, 1);
      z-index: -1;
    }
  }

  &--dark::after {
    background: rgba(241, 241, 241, 1);
  }
}

.header__text {
  font-size: 15px;
  padding-top: 22px;
  margin: 0;
  text-align: right;
}

.header__delivery {
  @include bp($desktop-width) {
    flex-grow: 1;
  }
}

.header__new,
.header__sale {
  display: none;

  @include bp($desktop-width) {
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 22px 0 0 0;
    width: 220px;
  }
}
