.title {
  font-weight: 700;
  line-height: 30px;
  font-size: 27px;
  font-style: normal;
  color: rgba(0, 0, 0, 1);

  @include indent-reset;

  &--medium {
    font-size: 25px;
    line-height: 30px;

    @include bp($tablet-width) {
      &::first-letter {
        margin-left: -0.08em;
      }
    }
  }

  &--contacts {
    font-size: 18px;
  }

  @include bp($tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @include bp($desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }

  &--special {
    color: rgb(99, 209, 187);
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &--small {
    font-size: 17px;
    line-height: 24px;

    @include bp($tablet-width) {
      font-size: 20px;
    }
  }
}
