.zigzag {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-repeat: repeat-x;
  }

  &::before {
    left: 50%;
    right: -100vw;
    background-position-x: left;
  }

  &::after {
    right: 50%;
    left: -100vw;
    background-position-x: right;
  }

  &--fill {
    @include bp($tablet-width) {
      &::before,
      &::after {
        content: "";
        height: 10px;
        background-size: 770px;
        background-image: url("../img/bg-zigzag-fill.svg");
      }
    }

    @include bp($desktop-width) {
      &::before,
      &::after {
        height: 16px;
        background-size: 1250px;
      }
    }
  }

  &--line {
    &::before,
    &::after {
      content: "";
      background-image: url("../img/bg-zigzag-line.svg");
      height: 7px;
      background-size: 319px 7px;

      @include bp($tablet-width) {
        height: 17px;
        background-size: 772px 17px;
      }

      @include bp($desktop-width) {
        height: 23px;
        background-size: 1050px 23px;
      }
    }

    &::before {
      left: 47%;

      @include bp($desktop-width) {
        left: 48%;
        right: 30px;
      }
    }

    &::after {
      right: 53%;

      @include bp($desktop-width) {
        right: 52%;
        left: 30px;
      }
    }
  }


  &--catalog::after {
    @include bp($desktop-width) {
      height: 34px;
      background-size: 100%;
    }
  }
}
