.header-promo {
  @include list-reset;
  display: none;
}

.header-promo__new,
.header-promo__sale {
  display: none;
}

.header-promo__text {
  font-size: 15px;
}

@media (min-width: $tablet-width) {
  .header-promo {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .header-promo {
    max-width: 100%;
  }

  .header-promo__new,
  .header-promo__sale {
    display: block;
  }
}
