.special__title {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.special__description {
  font-size: 15px;
  line-height: 24px;
}

.special__table {
  line-height: 20px;
}

.special__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
